/* needed for interactive map in listplace.xsl */
div#map {
  height: 50vh;
}

/** Match bootstrap navlink focus outline color. */
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

:root {
  --link-color: rgb(136, 21, 60);
  --link-hover-color: rgb(40, 0, 200);
}

a {
  color: var(--link-color) !important;
}

a:hover {
  color: var(--link-hover-color) !important;
}
